{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.last_name}} {{ author.first_name}}</h1>
  <p>{{ author.firs_name }}</p>
  <p><strong>Дата рождения:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Дата смерти:</strong> {{ author.date_of_death }}</p> 

  <div style="margin-left:20px;margin-top:20px">
    <h4>Книги:</h4> 

    {% for book in author.book_set.all %}
    <hr>
    <a href = "{{ book.get_absolute_url }}"><strong>{{book.title}}</p></strong></a>
    <p>{{ book.summary }}</p>
    {% endfor %}
  </div> 
{% endblock %}
